@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
* {
    font-family: 'DM Sans', sans-serif;
}
html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}

#tabsBar{
    text-align: center;
    padding: 15px 0px;
    width: 100%;
    z-index: 10;
    position: absolute;
}
#tabsBar > button{
    border: none;
    background-color: transparent;
    font-weight: 500;
    display: inline;
    font-size: 1.1rem;
    padding: 0px 1.5rem;
    transition: 200ms ease;
    font-weight: 400;
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}
#tabsBar > button:hover:not(:first-child){
    cursor: pointer;
    transform: scale(1.15);
}
#tabsBar > button:active:not(:first-child){
    transform: scale(0.9);
}
#changeTheme{
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 15;
    cursor: pointer;
}
#changeTheme > div{
    width: 22px;
    height: 22px;
    padding: 15px 30px;
}
#changeTheme > div > svg{
    width: 100%;
    height: 100%;
}






.home{
    min-height: 100vh;
    position: relative;
}
#homePage{
    position: absolute;
    top: 50%;
    left: 35%;
    transform: translate(-50%, -50%);
    padding: 0rem 2rem;
    z-index: 9;
}
#salutation{
    margin: 0 auto;
    font-size: 1.33rem;
    font-weight: 400;
}
#myName{
    margin: 0 auto;
    font-size: 5rem;
    font-weight: 400;
    white-space: nowrap;
}
#middleName, #pageTittle{
    font-weight: bold;  
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}
#fastIntroduction{
    font-size: 1.1rem;
    max-width: 52rem;
    margin-top: 0.5rem;
    font-weight: 400;
}
#technologiesLearning{
    margin-top: -0.5rem;
}
#technologiesLearning > button{
    background-size: 100%;
    background-repeat: no-repeat;
}

@media (max-width: 1280px) {
    #homePage{
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    #myName{
        font-size: clamp(3.25rem, 8vw, 5rem);
    }
    #fastIntroduction{
        width: 99%;
        text-align: justify;
    }

}
@media (max-width: 600px) {
    #myName{
        font-size: 17vw;
        white-space: normal;
        text-align: center;
    }
    #salutation{
        text-align: left;
    }
    #tabsBar{
        display: none;
    }
    #changeTheme > div{
        padding: 20px 20px;
    }
}
@media (max-width: 480px) {
    #myName{
        font-size: clamp(3rem, 16vw, 5rem);
    }
}
@media (max-height: 380px) {
    #tabsBar{
        display: none;
    }
}





.project{
    width: 95%;
    margin: 0 auto;
    padding-bottom: 1em;
    border-radius: 1em;
    max-width: 990px;
    margin-bottom: 2.8rem;
}

.projectImage{
    position: relative;
}
.images{
    width: 100%;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    cursor: pointer;
    max-width: 990px;
    max-height: 540px;
}
.clickToOpenTheProject{
    position: absolute;
    top: 44%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    display: none;
    font-size: 1.33em;
    text-align: center;
}
.projectImage:hover .images{
    filter: brightness(50%);
}
.projectImage:hover .clickToOpenTheProject{
    display: block;
}

.projectTitle, .projectDescription{
    padding-left: 16pt;
    padding-right: 16pt;
}

.projectTitle{
    margin-top: 10pt;
    font-size: 20pt;
}

.projectDescription{
    margin-top: -6pt;
    text-align: justify;
    font-size: 13pt;
    margin-bottom: -1pt;
    padding-bottom: 8pt;
}

.projectTechnologies{
    padding-left: 16pt;
    margin-top: -2pt;
    margin-right: 13pt;
    display: inline-block;
}


.categories{
    font-size: 13pt;
    border: none;
    padding-left: 9pt;
    padding-right: 9pt;
    padding-top: 6pt;
    padding-bottom: 6pt;
    border-radius: 6pt;
    transition: .2s ease;
    margin-right: 3pt;
    margin-top: 5pt;
    cursor: pointer;
    background-size: 100%;
    background-repeat: no-repeat;
    cursor: auto;
}

.categories:hover{
    transform: scale(1.1);
    -webkit-transfoorm: scale(1.1);
    -ms-transform: scale(1.1);
}


.aboutMe{
    position: relative;
    padding-bottom: 3rem;
    padding-top: 3rem;
    margin-right: 1.5rem;
    margin-left: 1.5rem;
}
#pageTittle{
    display: inline-block;
    text-align: center;
    width: 100%;
    font-size: 3rem;
    margin-top: 3rem;
    font-weight: 400;
}

#aboutMePage{
    width: 100%;
    display: flex;
    justify-content: center;
}
#aboutMeImage{
    height: 350px;
    width: 350px;
    padding: 0px 2rem;
}   
#aboutMeImage > img{
    width: 100%;
    height: 100%;
    border-radius: 100%;
}

#aboutMeText{
    max-width: 40rem;
    padding: 0rem 2rem;
    font-weight: 400;
}
.pageTittle{
    font-size: 3rem;
    font-weight: 400;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
#aboutMePage > h1{
    display: none;
}
#aboutMeText > div > h3{
    text-shadow:none;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
#aboutMeText > p{
    font-size: 1.1rem;
    font-weight: 400;
    text-align: justify;
    max-height: 100%;
}
@media (max-width: 1230px) {
    #aboutMeText{
        max-width: 45vw;
    }
}
@media (max-width: 1020px) {
    .aboutMe{
        margin-right: 0rem;
        margin-left: 0rem;
    }
}
@media (max-width: 970px) {
    #aboutMePage{
        display: inline;
    }
    #aboutMeText{
        max-width: 45rem;
        margin: 0 auto;
    }
    #aboutMeImage{
        max-width: 325px;
        max-height: 325px;
        padding: 0px 2rem;
        margin: 0 auto;
        margin-bottom: 3rem;
    }
    .pageTittle{
        text-align: center;  
        margin-bottom: 1rem;
    }
    #pageTittle{
        font-size: clamp(2.5rem, 8vw, 3rem);
    }
    #aboutMeText > h1{
        display: none;
    }
    #aboutMePage > h1{
        display: block;
    }
    .aboutMe{
        margin-right: 1rem;
        margin-left: 1rem;
    }
}
@media (max-width: 500px) {
    .aboutMe{
        margin-right: 0rem;
        margin-left: 0rem;
    }
    #aboutMeImage{
        height: 80vw;
        width: 80vw;
        padding: 0;
    }
    #aboutMeImage > img{
        margin-left: -8px;
        margin-top: -8px;
    }
}


#projects{
    min-height: 100vh;
}
#projectsPage{
    padding-bottom: 1px;
}
#projects > div > h1{
    text-align: center;
    margin-bottom: 0rem;
    padding: 2.5rem 1rem;
}

#changeCssFile{
    float: right;
}



#socialMedias{
    display: flex;
    float: right;
}
#socialMedias  > div{
    padding: 0rem 0.8rem;
    width: 22px;
    height: 22px;
    cursor: pointer;
}
#playstore{
    margin-right: -0.8rem;
}
#socialMedias  > div > svg{
    width: 100%;
    height: 100%;
}

#aboutDescription > h3{
    display: inline;
}

#aboutDescription{
    margin-bottom: -0.45rem;
    margin-top: 0.1rem;
}





*::-webkit-scrollbar {
    width: 16px;
}

*::-webkit-scrollbar-track {
    border-radius: 8px;
}

*::-webkit-scrollbar-thumb {
    height: 56px;
    border-radius: 8px;
    border: 4px solid transparent;
    background-clip: content-box;
    background-color: grey;
}

*::-webkit-scrollbar-thumb:hover {
    background-color: #444;
}




#illustration{
    position: absolute;
    top: 50%;
    left: 80%;
    transform: translate(-50%, -50%);
}