@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
* {
    font-family: 'DM Sans', sans-serif;
}
html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}
  
.body{
    color: #F3F3F3;
    font-family: 'DM Sans', sans-serif;
}


#tabsBar{
    text-align: center;
    padding: 15px 0px;
    width: 100%;
    background-color: #F8F6F6;
    -webkit-box-shadow: 5px -11px 30px 0px rgba(0,0,0,0.45); 
    box-shadow: 5px -11px 30px 0px rgba(0,0,0,0.45);
    z-index: 10;
    position: absolute;
}
#tabsBar > button{
    border: none;
    background-color: transparent;
    font-weight: 500;
    display: inline;
    font-size: 1.1rem;
    padding: 0px 1.5rem;
    cursor: pointer;
    transition: 200ms ease;
    font-weight: 400;

    background-image: radial-gradient(circle, rgba(253,0,84,1) 0%, rgba(168,0,56,1) 100%);
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}
#tabsBar > button:hover{
    transform: scale(1.15);
}
#tabsBar > button:active{
    transform: scale(0.9);
}




.home{
    min-height: 100vh;
    background-color: #FBF9FA;
    position: relative;
    -webkit-box-shadow: inset 4px -25px 32px -14px rgba(0,0,0,0.08); 
    box-shadow: inset 4px -25px 32px -14px rgba(0,0,0,0.08);
}
#homePage{
    position: absolute;
    top: 50%;
    left: 35%;
    transform: translate(-50%, -50%);
    padding: 0rem 2rem;
    z-index: 9;

}
#salutation{
    margin: 0 auto;
    font-size: 1.33rem;
    font-weight: 400;
    text-shadow: 2px 2px 6px rgba(0,0,0,0.1);
    color: #3E3636;
}
#myName{
    margin: 0 auto;
    font-size: 5rem;
    font-weight: 400;
    text-shadow: 2px 2px 6px rgba(0,0,0,0.1);
    color: #3E3636;

    white-space: nowrap;
}
#middleName{
    font-weight: bold;
    background-color:  rgb(253,0,84);
  
    background-image: radial-gradient(circle, rgba(253,0,84,1) 0%, rgba(168,0,56,1) 100%);
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}
#fastIntroduction{
    font-size: 1.1rem;
    max-width: 52rem;
    margin-top: 0.5rem;
    font-weight: 400;
    text-shadow: 2px 2px 6px rgba(0,0,0,0.1);
    color: #3E3636;
}
#technologiesLearning{
    margin-top: -0.5rem;
}
#homePage > div > button{
    color: #FBF9FA;
    background: rgb(253,0,84);
    background: linear-gradient(90deg, rgba(253,0,84,1) 0%, rgba(215,35,35,1) 100%);
    background-size: 100%;
    background-repeat: no-repeat;
}

#homeImage{
    
}
#homeImage > img{

}

@media (max-width: 1270px) {
    #homePage{
        position: absolute;
        top: 75%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    #myName{
        font-size: clamp(3rem, 8vw, 5rem);
    }
    #fastIntroduction{
        width: 95%;
    }
}
@media (max-width: 600px) {
    #homePage{
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
    }
    #fastIntroduction{
        width: 100%;
    }
    #myName{
        font-size: 5rem;
        white-space: normal;
        text-align: center;
    }
    #salutation{
        text-align: center;
    }
    #tabsBar{
        display: none;
    }
}
@media (max-width: 480px) {
    #salutation{
        text-align: left;
    }
    #myName{
        font-size: clamp(3rem, 16vw, 5rem);
    }
}





.project{
    width: 95%;
    margin: 0 auto;
    padding-bottom: 1em;
    border-radius: 1em;
    -webkit-box-shadow: 0px 5px 33px -2px rgba(0,0,0,0.23); 
    box-shadow: 0px 5px 33px -2px rgba(0,0,0,0.23);
    margin-top: 2.5em;
    max-width: 700px;
}

.projectImage{
    position: relative;
}
.images{
    width: 100%;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    cursor: pointer;
    max-width: 700px;
    max-height: 400px;
}
.clickToOpenTheProject{
    position: absolute;
    top: 44%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    pointer-events: none;
    display: none;
    text-shadow: 1px 3px 13px rgba(0,0,0,0.87);
    font-size: 1.33em;
    text-align: center;
}
.projectImage:hover .images{
    filter: brightness(50%);
}
.projectImage:hover .clickToOpenTheProject{
    display: block;
}

.projectTitle, .projectDescription{
    padding-left: 16pt;
    padding-right: 16pt;
}

.projectTitle{
    margin-top: 10pt;
    font-size: 20pt;
}

.projectDescription{
    margin-top: -6pt;
    text-align: justify;
    font-size: 13pt;
    margin-bottom: -1pt;
    padding-bottom: 8pt;
}

.projectTechnologies{
    padding-left: 16pt;
    margin-top: -2pt;
    margin-right: 13pt;
    display: inline-block;
}


.categories{
    font-size: 13pt;
    border: none;
    padding-left: 9pt;
    padding-right: 9pt;
    padding-top: 6pt;
    padding-bottom: 6pt;
    border-radius: 6pt;
    transition: .2s ease;
    margin-right: 3pt;
    margin-top: 5pt;
    cursor: pointer;

    
}

.categories:hover{
    transform: scale(1.1);
    -webkit-transfoorm: scale(1.1);
    -ms-transform: scale(1.1);
}
.categories:active{
    transition: .1s ease;
    transform: scale(1);
    -webkit-transfoorm: scale(1);
    -ms-transform: scale(1);
}
  
.cSharp{
    background-color: #822C98;
    color: white;
}
.unity{
    background-color: #272626;
    color: white;
}
.javascript{
    background-color: #F7E018;
    color: white;
}
.html{
    background-color: #FF4C15;
    color: white;
}
.css{
    background-color: #0076BE;
    color: white;
}
.react{
    background-color: #61DBFB;
    color: white;
}




.projectPage{
    background-color: white;
    min-height: 100vh;
    position: relative;
    z-index: 8;
}