@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&display=swap');

.project{
    font-family: 'DM Sans', sans-serif;
    width: 95%;
    margin: 0 auto;
    padding-bottom: 1em;
    border-bottom-right-radius: 1em;
    border-bottom-left-radius: 1em;
}


.projectTitle, .projectDescription{
    padding-left: 16pt;
    padding-right: 16pt;
}

.projectTitle{
    padding-top: 12pt;
}

.projectDescription{
    margin-top: -6pt;
}

.projectTechnologies{
    padding-left: 16pt;
    margin-top: -2pt;
}




.categories{
    font-family: 'DM Sans', sans-serif;
    font-size: 0.9em;
    border: none;
    padding-left: 6pt;
    padding-right: 6pt;
    padding-top: 3pt;
    padding-bottom: 3pt;
    border-radius: 6pt;
    transition: .2s ease;
}

.categories:hover{
    transform: scale(1.18);
    -webkit-transfoorm: scale(1.18);
    -ms-transform: scale(1.18);
}
.categories:active{
    transform: scale(1);
    -webkit-transfoorm: scale(1);
    -ms-transform: scale(1);
}

.download{
    float: right;
    font-family: 'DM Sans', sans-serif;
    border: none;
    border-radius: 6pt;
}

.cSharp{
    background-color: #822C98;
    color: white;
    margin-left: 3pt;
}

.unity{
    background-color: #272626;
    color: white;
}